* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #050816;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 700px;
}

h1 {
    font-size: 70px;
    letter-spacing: 10px;
}

h2 {
    margin: 20px 0;
}

.description {
    opacity: 0.8;
    margin-bottom: 20px;
}

.status {
    margin: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: lime;
    border-radius: 50%;
}

button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: white;
    color: black;
}
